body {
    height: 100vh; /* Set body height to full viewport height */
    background-color: rgb(80, 80, 80);
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column; /* Make the body a column flex container */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.black-bar {
    position: fixed;
    top: 20px;
    left: 5%;
    right: 5%;
    background: #000000;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #999999;
}

.header {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.headerTitle {
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.divided-middle {
    display: flex;
    justify-content: space-between;
    width: 90%; /* Adjust the width as needed */
}
/*-------- gambling corcer --------*/

.gambling-cube {
    position: fixed;
    width: 50%;
    background: #000000;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #999999;
}
.gamblingTitle {
    color: white;
}
/*-------- gambling corcer end --------*/
/*-------- gambling rules --------*/
.rules-cube{
    margin: auto;
    position: fixed;
    width: 50%;
    background: #000000;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #999999;
}
.rulesTitle{

}
/*-------- gambling corcer end --------*/