/* Light Theme */
:root {
    --bg-color: #161616;
    --text-color: #ffffff;
    --main-border-color: #677d92;
    --main-color: #738ba2;
    --button-bg-color: transparent;
}

/* Dark Theme */
.white-theme {
    --bg-color: #d7d7d7;
    --text-color: #000000;
    --main-color: #37424d;
    --button-bg-color: transparent;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}
/* ----------------- a -----------------*/
.upBar {
    z-index: 5;
    width: 100%;
    background: linear-gradient(to bottom, rgb(30, 30, 30), transparent 95%);
}
.name{
    padding-left: 30px;
    width: 5%;
    display: flex;
    align-items: center;
}
.name h4 {
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, transparent, #660066, transparent);
    border-image-slice: 5;
}
/* ----------------- a -----------------*/



/*------- THEMES -------*/
/*.theme-toggle{
    margin-right: 10px;
}
.theme-toggle:hover{
    cursor: pointer;    /*when hovering, cursor changes to pointer
}                       /* when clicked page switches themes*/