:root {
    --dark-upDown-theme: #242424;
    --white-upDown-theme: #cfcfcf;
    --dark-main-theme: #171717;
    --white-main-theme: #cfcfcf;

    --background-color: var(--dark-upDown-theme);
    --text-color: var(--white-upDown-theme);

    --background-main-color: var(--dark-main-theme)
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    font-family: 'avenirroman', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.main {
    padding-top: 50px;
    height: 100%;
    width: 100%;
    background: var(--dark-main-theme);
}
/* ----------------- name n stuff -----------------*/
.upBar {
    width: 100%;
    display: inline-block;
}
.name{
    padding-left: 30px;
    width: 10%;
    display: flex;
    align-items: center;
}
.name h4 {
    font-size: 15px;
    font-weight: 500;
}
.container{
    cursor:pointer;
    background: transparent;
}
/* ----------------- fade -----------------*/
.fadeTop{
    width: 100%;
    height: 20px;
    background: linear-gradient(var(--dark-upDown-theme), var(--dark-main-theme));
}
.fadeBottom{
    width: 100%;
    height: 20px;
    background: linear-gradient(var(--dark-main-theme), var(--dark-upDown-theme));
}

/* ----------------- bottom info -----------------*/
.info{
    background: var(--dark-upDown-theme);
}
.detailPlaceholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.detailPlaceholder img {
    margin: 0 10px;
}

/* ----------------- main page -----------------*/
.myStuff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #cfcfcf;
    border-radius: 10px;
    margin: 20px;
    height: auto;
}

/* ----------------- c -----------------*/
.mainTop{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
}
.mainTop h4 {
    margin: 0 10px;
    font-weight: 100;
}
.mainTop button{
    background: transparent;
    border: none;
    color: var(--white-main-theme);
    cursor: pointer;
}