html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #1b242b;
    display: flex; /* Use flexbox to align items */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}
.up-placeholder{
    width: 100%;
    height: 12%;
}

.mid-info {
    display: flex; /* Use flexbox for blobs */
    justify-content: space-between;
    margin-top: 20px;
    height: 20%;
    width: 80%;
}
/*--------------------------------------- BLACK BAR START -----------------------------------------------------------*/
.main-up{
    position: fixed;
    top: 20px; /* Adjust this value as needed */
    left: 5%;
    right: 5%;
    background: #000000;
    border-radius: 15px;
    margin-bottom: 20px;
}

.namebox{
    text-align: left;
    color: rgb(161, 158, 158);
    padding-left: 10px;
}
/*--------------------------------------- BLACK BAR END -----------------------------------------------------------*/
/*--------------------------------------- BLOB 1 START -----------------------------------------------------------*/
.blob-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Add this to align content to the start (left) */
    height: 300px;
    width: 300px;
    border-radius: 30px;
    transition: border-color 0.3s ease-in-out, background 0.3s ease-in-out;
    border: 2px solid transparent;
    color: #ffffff;
    position: relative; /* Add this to make the positioning of child elements relative to this container */
}

.blob-1:hover {
    border-color: #8ba3b5;
    background: #374957;
    color: #ffffff;
}

.blob-1-text {
    display: flex; /* Use flex to arrange text and button vertically */
    flex-direction: column; /* Stack elements vertically */
    justify-content: space-between; /* Distribute space between elements */
    height: 100%;
    width: 100%;
    margin-left: 15px;
}

.b1t {
    color: #ffffff;
    text-align: left;
}

.b1info {
    font-family: "Century Gothic";
    height: fit-content;
}

.seeMorebtn {
    margin-top: auto;
    align-self: flex-start;
    margin-bottom: 15px;
    background: transparent;
    border: transparent;
    color: rgb(132, 132, 255);
    cursor: pointer;
    text-decoration-skip-ink: none; /* Prevent the underline from hugging the text */
    padding-bottom: 5px; /* Adjust the spacing between text and underline */
}

.seeMorebtn:hover {
    text-decoration: underline blue;
}


/*--------------------------------------- BLOB 1 END -----------------------------------------------------------*/
/*--------------------------------------- BLOB 2 START -----------------------------------------------------------*/
.blob-2 {
    height: 300px;
    width: 300px;
    border-radius: 30px;
    transition: border-color 0.3s ease-in-out, background 0.3s ease-in-out;
    border: 2px solid transparent; /* Add a transparent border */
    color: #ffffff;
}

.blob-2:hover {
    border-color: #8ba3b5;
    background: #374957;
    color: #ffffff;
}

.blob-2-text{
    height: 100%;
    width: 100%;
}

.b2t{
    color: #ffffff;
    text-align: left;
    padding-left: 10px;
}
/*--------------------------------------- BLOB 2 END -----------------------------------------------------------*/
/*--------------------------------------- BLOB 2 -----------------------------------------------------------*/
.blob-3 {
    height: 300px;
    width: 300px;
    border-radius: 30px;
    transition: border-color 0.3s ease-in-out, background 0.3s ease-in-out;
    border: 2px solid transparent; /* Add a transparent border */
    color: #ffffff;
}

.blob-3:hover {
    border-color: #8ba3b5;
    background: #374957;
    color: #ffffff;
}

.blob-3-text{
    height: 100%;
    width: 100%;
}

.b3t{
    color: #ffffff;
    text-align: left;
    padding-left: 10px;
}